/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 html{
 	text-rendering: optimizeLegibility;
 	font-family: 'Questrial', sans-serif;
 }
 .style_date{
    border: none;
    background-color: transparent;
    outline: none;      
  }

  div.login_panel{
  	width:400px;
    height:360px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-185px 0 0 -200px;
    border: 1px solid #6C705F;
    box-shadow: 0 0 25px #A29FA0;
    border-radius: 5px;    
  }

  div.login_panel .title{
  	top: 0;
  	width: 100%;
  	height: 50px;
  	border-radius: 3px;  	
  }

div.login_panel .title h2{
	text-align: center;
}

  div.login_panel .form_login{
  	margin:20px;  	 	
  }

